---
'8-lookahead':
  fullname: 'Rocky Linux 8'
  revision: '8.8'
  rclvl: 'RC1'
  major: '8'
  minor: '8'
  profile: '8'
  disttag: 'el8'
  code: "Green Obsidian"
  bugurl: 'https://bugs.rockylinux.org'
  checksum: 'sha256'
  fedora_major: '20'
  gpg_key:
    - 'https://git.rockylinux.org/staging/src/rocky-release/-/raw/r8/SOURCES/RPM-GPG-KEY-rockyofficial'
    - 'https://git.rockylinux.org/staging/src/rocky-release/-/raw/r8/SOURCES/RPM-GPG-KEY-rockytesting'
  allowed_arches:
    - x86_64
    - aarch64
  provide_multilib: False
  project_id: '3b0e9ec7-0679-4176-b253-8528eb3255eb'
  repo_symlinks:
    devel: 'Devel'
    NFV: 'nfv'
  renames:
    all: 'devel'
  all_repos:
    - 'BaseOS'
    - 'AppStream'
    - 'PowerTools'
    - 'HighAvailability'
    - 'ResilientStorage'
    - 'RT'
    - 'NFV'
    - 'extras'
    - 'devel'
    - 'plus'
  structure:
    packages: 'os/Packages'
    repodata: 'os/repodata'
  iso_map:
    xorrisofs: False
    iso_level: False
    images:
      dvd:
        disc: True
        variant: 'AppStream'
        repos:
          - 'BaseOS'
          - 'AppStream'
      minimal:
        disc: True
        isoskip: True
        repos:
          - 'minimal'
          - 'BaseOS'
        variant: 'minimal'
      BaseOS:
        disc: False
        isoskip: True
        variant: 'BaseOS'
        repos:
          - 'BaseOS'
          - 'AppStream'
    lorax:
      repos:
        - 'BaseOS'
        - 'AppStream'
      variant: 'BaseOS'
      lorax_removes:
        - 'libreport-rhel-anaconda-bugzilla'
      required_pkgs:
        - 'lorax'
        - 'genisoimage'
        - 'isomd5sum'
        - 'lorax-templates-rhel'
        - 'lorax-templates-generic'
        - 'xorriso'
  cloudimages:
    images:
      Azure:
        format: vhd
        variants: [Base, LVM]
        primary_variant: 'Base'
      EC2:
        format: qcow2
        variants: [Base, LVM]
        primary_variant: 'Base'
      GenericCloud:
        format: qcow2
        variants: [Base, LVM]
        primary_variant: 'Base'
      Container:
        format: tar.xz
        variants: [Base, Minimal, UBI]
      OCP:
        format: qcow2
        variants: [Base]
  livemap:
    git_repo: 'https://git.resf.org/sig_core/kickstarts.git'
    branch: 'r8'
    ksentry:
      Workstation: rocky-live-workstation.ks
      Workstation-Lite: rocky-live-workstation-lite.ks
      XFCE: rocky-live-xfce.ks
      KDE: rocky-live-kde.ks
    allowed_arches:
      - x86_64
    required_pkgs:
      - 'lorax-lmc-novirt'
      - 'vim-minimal'
      - 'pykickstart'
      - 'git'
  repoclosure_map:
    arches:
      x86_64: '--forcearch=x86_64 --arch=x86_64 --arch=athlon --arch=i686 --arch=i586 --arch=i486 --arch=i386 --arch=noarch'
      aarch64: '--forcearch=aarch64 --arch=aarch64 --arch=noarch'
      ppc64le: '--forcearch=ppc64le --arch=ppc64le --arch=noarch'
      s390x: '--forcearch=s390x --arch=s390x --arch=noarch'
    repos:
      BaseOS: []
      AppStream:
        - BaseOS
      PowerTools:
        - BaseOS
        - AppStream
      HighAvailability:
        - BaseOS
        - AppStream
      ResilientStorage:
        - BaseOS
        - AppStream
      RT:
        - BaseOS
        - AppStream
      NFV:
        - BaseOS
        - AppStream
  extra_files:
    git_repo: 'https://git.rockylinux.org/staging/src/rocky-release.git'
    git_raw_path: 'https://git.rockylinux.org/staging/src/rocky-release/-/raw/r8/'
    branch: 'r8'
    list:
      - 'SOURCES/COMMUNITY-CHARTER'
      - 'SOURCES/EULA'
      - 'SOURCES/LICENSE'
      - 'SOURCES/RPM-GPG-KEY-rockyofficial'
      - 'SOURCES/RPM-GPG-KEY-rockytesting'
...
