---
'9-beta':
  fullname: 'Rocky Linux 9.4'
  revision: '9.4'
  rclvl: 'BETA1'
  major: '9'
  minor: '4'
  profile: '9-beta'
  disttag: 'el9'
  code: "Blue Onyx"
  bugurl: 'https://bugs.rockylinux.org'
  checksum: 'sha256'
  fedora_major: '20'
  allowed_arches:
    - x86_64
    - aarch64
    - ppc64le
    - s390x
  provide_multilib: True
  project_id: 'df5bcbfc-ba83-4da8-84d6-ae0168921b4d'
  repo_symlinks:
    NFV: 'nfv'
  renames:
    all: 'devel'
  all_repos:
    - 'all'
    - 'BaseOS'
    - 'AppStream'
    - 'CRB'
    - 'HighAvailability'
    - 'ResilientStorage'
    - 'RT'
    - 'NFV'
    - 'SAP'
    - 'SAPHANA'
    - 'extras'
    - 'plus'
  extra_repos:
    - name: 'core-common'
      url: 'https://yumrepofs.build.resf.org/v1/projects/47e0b4a8-84ba-43a9-bb94-eb99dde4cf14/repo/core-common/$basearch'
      priority: '100'
    - name: 'core-infra'
      url: 'https://yumrepofs.build.resf.org/v1/projects/47e0b4a8-84ba-43a9-bb94-eb99dde4cf14/repo/core-infra/$basearch'
      priority: '100'
  structure:
    packages: 'os/Packages'
    repodata: 'os/repodata'
  iso_map:
    xorrisofs: True
    iso_level: False
    images:
      dvd:
        disc: True
        variant: 'AppStream'
        repos:
          - 'BaseOS'
          - 'AppStream'
      minimal:
        disc: True
        isoskip: True
        repos:
          - 'minimal'
          - 'BaseOS'
        variant: 'minimal'
        volname: 'dvd'
      BaseOS:
        disc: False
        isoskip: True
        variant: 'BaseOS'
        repos:
          - 'BaseOS'
          - 'AppStream'
    lorax:
      noupgrade: False
      squashfs_only: True
      repos:
        - 'BaseOS'
        - 'AppStream'
      variant: 'BaseOS'
      lorax_removes:
        - 'libreport-rhel-anaconda-bugzilla'
      required_pkgs:
        - 'lorax'
        - 'genisoimage'
        - 'isomd5sum'
        - 'lorax-templates-rocky'
        - 'lorax-templates-generic'
        - 'xorriso'
  cloudimages:
    images:
      Azure:
        format: vhd
        variants: [Base, LVM]
        primary_variant: 'Base'
      EC2:
        format: qcow2
        variants: [Base, LVM]
        primary_variant: 'Base'
      GenericCloud:
        format: qcow2
        variants: [Base, LVM]
        primary_variant: 'Base'
      Container:
        format: tar.xz
        variants: [Base, Minimal, UBI]
      RPI:
        format: raw.xz
      OCP:
        format: qcow2
        variants: [Base]
      Vagrant:
        format: box
        variants: [Libvirt, Vbox, VMware]
  livemap:
    builder: "lorax"
    git_repo: 'https://git.resf.org/sig_core/kickstarts.git'
    branch: 'r9'
    ksentry:
      Workstation: rocky-live-workstation.ks
      Workstation-Lite: rocky-live-workstation-lite.ks
      XFCE: rocky-live-xfce.ks
      KDE: rocky-live-kde.ks
      MATE: rocky-live-mate.ks
      Cinnamon: rocky-live-cinnamon.ks
    allowed_arches:
      - x86_64
      - aarch64
    required_pkgs:
      - 'lorax-lmc-novirt'
      - 'vim-minimal'
      - 'pykickstart'
      - 'git'
  kiwimap:
    git_repo: 'https://git.resf.org/sig_core/rocky-kiwi-descriptions.git'
    branch: 'r9'
    supported_builds:
      - live
      - cloud
      - container
      - vagrant
    allowed_arches:
      - x86_64
      - aarch64
      - ppc64le
      - s390x
    required_pkgs:
      - dracut-kiwi-live
      - git
      - kiwi
      - kiwi-cli
      - kiwi-systemdeps-image-validation
  repoclosure_map:
    arches:
      x86_64: '--forcearch=x86_64 --arch=x86_64 --arch=athlon --arch=i686 --arch=i586 --arch=i486 --arch=i386 --arch=noarch'
      aarch64: '--forcearch=aarch64 --arch=aarch64 --arch=noarch'
      ppc64le: '--forcearch=ppc64le --arch=ppc64le --arch=noarch'
      s390x: '--forcearch=s390x --arch=s390x --arch=noarch'
    repos:
      devel: []
      BaseOS: []
      AppStream:
        - BaseOS
      CRB:
        - BaseOS
        - AppStream
      HighAvailability:
        - BaseOS
        - AppStream
      ResilientStorage:
        - BaseOS
        - AppStream
      RT:
        - BaseOS
        - AppStream
      NFV:
        - BaseOS
        - AppStream
      SAP:
        - BaseOS
        - AppStream
        - HighAvailability
      SAPHANA:
        - BaseOS
        - AppStream
        - HighAvailability
  extra_files:
    git_repo: 'https://git.rockylinux.org/staging/src/rocky-release.git'
    git_raw_path: 'https://git.rockylinux.org/staging/src/rocky-release/-/raw/r9/'
    branch: 'r9-beta'
    gpg:
      stable: 'SOURCES/RPM-GPG-KEY-Rocky-9'
      testing: 'SOURCES/RPM-GPG-KEY-Rocky-9-Testing'
    list:
      - 'SOURCES/Contributors'
      - 'SOURCES/COMMUNITY-CHARTER'
      - 'SOURCES/EULA'
      - 'SOURCES/LICENSE'
      - 'SOURCES/RPM-GPG-KEY-Rocky-9'
      - 'SOURCES/RPM-GPG-KEY-Rocky-9-Testing'
...
