.encoding = "UTF-8"
bios.bootorder = "hdd,cdrom"
cleanShutdown = "TRUE"
config.version = "8"
cpuid.coresPerSocket = "2"
ehci.present = "FALSE"
firmware = "efi"
floppy0.present = "FALSE"
guestOS = "rhel7_64Guest"
hpet0.present = "TRUE"
mem.hotadd = "TRUE"
memsize = "1024"
numvcpus = "2"
pciBridge0.pciSlotNumber = "17"
pciBridge0.present = "TRUE"
pciBridge4.functions = "8"
pciBridge4.pciSlotNumber = "21"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge5.pciSlotNumber = "22"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge6.pciSlotNumber = "23"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
pciBridge7.pciSlotNumber = "24"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.reset = "soft"
powerType.suspend = "soft"
sata0.present = "FALSE"
scsi0:0.present = "TRUE"
scsi0:0.redo = ""
scsi0.pciSlotNumber = "160"
scsi0.present = "TRUE"
scsi0.virtualDev = "pvscsi"
serial0.present = "FALSE"
softPowerOff = "TRUE"
sound.present = "FALSE"
svga.vramSize = "134217728"
tools.syncTime = "TRUE"
usb.present = "FALSE"
uuid.action = "create"
vcpu.hotadd = "TRUE"
virtualHW.productCompatibility = "hosted"
virtualHW.version = "10"
vmci0.id = "-1024033366"
vmci0.present = "TRUE"
vmotion.checkpointFBSize = "134217728"

displayName = "{{ outname }}"
nvram = "{{ outname }}.nvram"
scsi0:0.fileName = "{{ outname }}.vmdk"
extendedConfigFile = "{{ outname }}.vmxf"
