This directory contains ISO's for the {{ arch }} architecture. You will see
multiple types of ISO's, including accompanying manifests and CHECKSUM files
that match the given ISO. You will see the following formats:

* Rocky-X.Y-ARCH-TYPE       (ISO File)
* Rocky-X.Y-DATE-ARCH-TYPE  (ISO File)
* Rocky-ARCH-TYPE           (Symlink)

X will be the major release.
Y will be the minor release.
ARCH is the given architecture.
DATE will be the date the ISO was built (if applicable)
TYPE will be the type of ISO (boot, dvd, minimal)

The first format is the most common and is the day-of-release ISO.

The second format is in the case of rebuilt ISO's, in the case of addressing
a bug or providing an updated image (eg for a newer kernel, a newer secure
boot shim, and so on).

The third format in the list is a symlink to the "latest" ISO. Currently, this
is not advertised on the main site, but there may be potential for this in
the future as a value add.

This is "unversioned" ISO symlink is for these cases:

* A pre-determined download location for users/mirrors/service providers who
  want an always available and deterministic download location, which can be
  easier to script

* osinfo database / libvirt use where if a user selects Rocky Linux X, it
  should be aware of and be able to download from that location. This should
  be fully supported in Rocky Linux 8.7 and 9.1, and future Fedora versions.

If you have any questions, please reach out to us:

* https://chat.rockylinux.org ~Development, ~Infrastructure, ~General
* https://forums.rockylinux.org
* https://lists.resf.org/mailman3/lists/rocky.lists.resf.org/        - Rocky General Mail List
* https://lists.resf.org/mailman3/lists/rocky-mirror.lists.resf.org/ - Mirror Mail List

