This directory contains ISO's for the {{ arch }} architecture. You will see
multiple types of ISO's, including accompanying manifests and CHECKSUM files
that match the given ISO. You will see the following formats:

* Rocky-X.Y-ARCH-TYPE       (ISO File)
* Rocky-X.Y-DATE-ARCH-TYPE  (ISO File)
* Rocky-X-latest-ARCH-TYPE  (Symlink)
* Rocky-ARCH-TYPE           (Symlink)

X will be the major release.
Y will be the minor release.
ARCH is the given architecture.
DATE will be the date the ISO was built (if applicable)
TYPE will be the type of ISO (boot, dvd, minimal)

The first format is the most common and is the day-of-release ISO.

The second format is in the case of rebuilt ISO's, in the case of addressing
a bug or providing an updated image (eg for a newer kernel, a newer secure
boot shim, and so on).

The third format is also in the case of a rebuilt ISO. This will always point
to the absolute latest ISO of its type. This is used for osinfo and may be
used on our main website. This serves as a predictable method to download
the latest ISO whether from curl/wget or using libvirt that relies on osinfo
to provide the download URL.

The fourth format in the list is a symlink to the "latest" ISO. This was
originally used as part of osinfo and has been carried over for backwards
compatibility reasons.

If you have any questions, please reach out to us:

* https://chat.rockylinux.org ~Development, ~Infrastructure, ~General
* https://forums.rockylinux.org
* https://lists.resf.org/mailman3/lists/rocky.lists.resf.org/        - Rocky General Mail List
* https://lists.resf.org/mailman3/lists/rocky-mirror.lists.resf.org/ - Mirror Mail List

