These set of repositories (or "compose") is for {{ fullname }} and was generated
using Empanadas {{ version }} from the SIG/Core Toolkit.

As this is not a traditional compose, there will be things that you might be
expecting and do not see, or not expecting and do see.. While we attempted to
recreate a lot of those elements, it's not perfect.
