#!/bin/bash
set -o pipefail
sed -i 's/enabled=1/enabled=0/g' /etc/yum.repos.d/*.repo
{{ import_gpg_cmd }} | tee -a {{ sync_log }}
{{ arch_force_cp }} | tee -a {{ sync_log }}
{{ dnf_plugin_cmd }} | tee -a {{ sync_log }}
{{ sync_cmd }} | tee -a {{ sync_log }}

# {{ check_cmd }} | tee -a {{ sync_log }}
