---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ jobName }}
  namespace: {{ namespace }}
spec:
  template:
    spec:
      containers:
      - name: {{ containerName }}
        image: {{ imageName }} 
        command: {{ command }}
        lifecycle:
          preStop:
            exec:
              command: [
                "skbn",
                "cp",
                "--src",
                "/var/lib/mock/rocky-{{ major }}-{{ architecture }}/root/builddir/lorax-*`",
                "--dst",
                "s3://resf-empanadas/{{ containerName }}/$(date +%s)/",
                "--parallel",
                "2"
              ]
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          privileged: true
          runAsNonRoot: false
          allowPrivilegeEscalation: true
        env:
        - name: AWS_REGION
          value: us-east-2
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: empanadas-s3
              key: ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: empanadas-s3
              key: SECRET
      tolerations:
      - effect: NoSchedule
        key: peridot.rockylinux.org/workflow-tolerates-arch
        operator: Equal
        value: {{ architecture }}
      restartPolicy: {{ restartPolicy }}
  backoffLimit: {{ backoffLimit }}

